* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Fontes Início*/

section h1,
.text h3 {
    font-family: 'Orbitron', sans-serif;
    font-weight: bolder;
    font-size: xx-large;
    color: black;
}

body,
header nav li a {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

/*Fontes Fim - Início Cabeçalho*/

header {
    display: flex;
    justify-content: right;
    background-image: url(https://images.ctfassets.net/rporu91m20dc/33LpdvqfUp3OPhVElHUCao/96c13ecc5a8c14467f158e95e074dd41/DE_Logo_HERO_1920x870.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 5%;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

header nav li a {
    text-decoration: none;
}

/*Fim Cabeçalho - Início Seção Sobre*/

#about {
    background-color: #535050;
    display: flex;
    background-image: url(https://images5.alphacoders.com/130/1303642.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 300px;
}

.text {
    position: absolute;
    left: 5%;
    top: 25%;
    width: 60%;
    text-align: left;
}

.text h1,
.text h3,
.text p {
    padding-bottom: 10px;
}

.text h3 {
    font-size: x-large;
}

.text p {
    width: 70%;
}

/*Início Formulário*/

.rating-form {
    display: block;
    position: absolute;
    left: 70%;
    top: 35%;
    text-align: center;
}

form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea {
    resize: none;
    height: 180px;
}

input:focus, textarea:focus {
    outline-color: #8b0000;
}

form button:hover {
    background-color: #8b0000;
}

/*Fim Formulário*/
/*Fim Seção Sobre - início Seção Loja*/

#store {
    background-color: #535050;
    display: flex;
    background-image: url(https://i.pcmag.com/imagery/articles/03iHD1HAE1p4K2zQQEkq8VA-1..v1583881389.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

.store-images img {
    margin-top: 10px;
    height: 24px;
}

.store-images li {
    display: inline;
    margin-right: 20px;
    margin-left: 10px;
}

.store-images li a {
    text-decoration: none;
}

#store .text-store {
    display: block;
}

.available-stores {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea {
    resize: none;
    height: 180px;
}

#store h1 {
    margin-top: 160px;
    margin-bottom: 10px;
}

section h2{
    margin-bottom: 10px;
}

.text-store {
    margin-left: 70px;
}

.dig-ver {
    margin-right: 200px;
}

/*Fim Seção Loja - Início Rodapé*/

footer {
    display: flex;
    justify-content: center;
    background-color: #000000;
    color: white;
    padding: 16px 0;
}
/*Fim Rodapé*/