* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Fontes Início*/

header,
section h2 {
    font-family: 'Orbitron', sans-serif;
    font-weight: bolder;
}

body {
    font-family: "Roboto", sans-serif;
}

/*Fontes Fim*/
/*Config. Cabeçalho*/
header {
    background-image: url(https://images.ctfassets.net/rporu91m20dc/33LpdvqfUp3OPhVElHUCao/96c13ecc5a8c14467f158e95e074dd41/DE_Logo_HERO_1920x870.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 5%;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

header nav li a {
    color: white;
    text-decoration: none;
}

/*Fim Config. Cabeçalho*/

.container {
    display: flex;
    justify-content: right;
}

section {
    display: flex;
    background-image: url(https://images5.alphacoders.com/130/1303642.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 300px;
}

/*Início Rodapé*/

footer,
footer .container {
    justify-content: center;
    background-color: #000000;
    color: white;
    padding: 16px 0;
}