* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Fontes Início*/

header {
    font-family: 'Orbitron', sans-serif;
    font-weight: bolder;
}

body {
    font-family: "Roboto", sans-serif;
}

/*Fontes Fim*/
/*Config. Cabeçalho*/
header {
    background-image: url(https://images.ctfassets.net/rporu91m20dc/33LpdvqfUp3OPhVElHUCao/96c13ecc5a8c14467f158e95e074dd41/DE_Logo_HERO_1920x870.png);
    background-size: 100% 110%;
    color: white;
    padding: 60px;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

header nav li a {
    color: white;
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: right;
}